Get the directory containing the article categories.

In [1]:
import pandas as pd
import csv
import os

data_dir = os.path.join(os.getcwd(), "data")

In [2]:
data_categories = [f.path for f in os.scandir(data_dir) if f.is_dir()]

Count the total number of articles. Each number from that total number will serve as an ID for each article.

In [5]:
id = 0
with open('data.tsv', 'w') as dataset:
    tsv_output = csv.writer(dataset, delimiter='\t')
    tsv_output.writerow(['id','title','content','category'])
    for category_path in data_categories:
        category = os.path.basename(os.path.normpath(category_path))
        for file in os.listdir(category_path):
            if file.endswith('.txt') and os.path.isfile(os.path.join(category_path, file)):
                article_path = os.path.join(category_path,file)
                article = open(article_path, 'r', encoding = 'utf8', errors = 'ignore')
                
                title = article.readline()              
                content = article.read()
                article.close()

                tsv_output.writerow([id,title,content,category])
                id += 1
dataset.close()

In [6]:
df = pd.read_csv("data.tsv", sep='\t', encoding = 'ANSI')
df.head()

,id,title,content,category
0,0,Ad sales boost Time Warner profit\r\n,\r\nQuarterly profits at US media giant TimeWa...,business
1,1,Dollar gains on Greenspan speech\r\n,\r\nThe dollar has hit its highest level again...,business
2,2,Yukos unit buyer faces loan claim\r\n,\r\nThe owners of embattled Russian oil giant ...,business
3,3,High fuel prices hit BA's profits\r\n,\r\nBritish Airways has blamed high fuel price...,business
4,4,Pernod takeover talk lifts Domecq\r\n,\r\nShares in UK drinks and food firm Allied D...,business