Get the directory containing the article categories.

In [217]:
import pandas as pd
import os

data_dir = os.path.join(os.getcwd(), "data")

In [218]:
data_categories = [f.path for f in os.scandir(data_dir) if f.is_dir()]

Count the total number of articles. Each number from that total number will serve as an ID for each article.

In [196]:
import csv
id = 0
with open('data.tsv', 'w') as trainset:
    tsv_output = csv.writer(trainset, delimiter='\t')
    tsv_output.writerow(['id','title','content','category'])
    for category_path in data_categories:
        category = os.path.basename(os.path.normpath(category_path))
        for file in os.listdir(category_path):
            if file.endswith('.txt') and os.path.isfile(os.path.join(category_path, file)):
                article_path = os.path.join(category_path,file)
                article = open(article_path, 'r', encoding = 'utf8', errors = 'ignore')
                
                title = article.readline()              
                content = article.read()
                
                title = title.strip("\n\r")
                content = content.strip("\n\r")

                article.close()

                tsv_output.writerow([id,title,content,category])
                id += 1

In [219]:
df = pd.read_csv("trainset.tsv", sep='\t', encoding = 'ANSI')
df.head()

,id,title,content,category
0,0,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarner...,business
1,1,Dollar gains on Greenspan speech,The dollar has hit its highest level against t...,business
2,2,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuko...,business
3,3,High fuel prices hit BA's profits,British Airways has blamed high fuel prices fo...,business
4,4,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Domec...,business